body {
  background-color: rgb(253, 255, 234);
}

.title {
  font-size: 80px;
  font-family: 'Caveat', sans-serif;
}

.inputRow {
  margin-top: 50px;
}

.boxSize {
  width: 600px;
  height: 50px;
  padding-left: 25px;
}

.paragraphSize {
  width: 480px;
  height: 50px;
  margin-bottom: 0;
  padding-top: 10px;
}

.delete {
  margin-right: 5px;
  height: 30px;
}

#taskStatus {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(200, 200, 200);
}

.filter-button {
  border: none;
  background-color: rgb(240, 240, 240);
}
